In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import StratifiedShuffleSplit

In [16]:
df=pd.read_csv("data/processed_Data.csv").dropna(how='any',axis=0).reset_index(drop=True)
df

      year  month  day   price
0     2026      1   12  4454.0
1     2026      1   11  4278.0
2     2026      1    9  4098.0
3     2026      1    8  4145.5
4     2026      1    7  4231.0
...    ...    ...  ...     ...
2449  2019      1    5   656.0
2450  2019      1    4   656.0
2451  2019      1    3   651.5
2452  2019      1    2   639.0
2453  2019      1    1   639.0

[2454 rows x 4 columns]

In [17]:
cat_attribs=["month"]
label_attrib=["price"]
num_features=df.copy().drop(cat_attribs,axis=1).drop(label_attrib,axis=1).columns.tolist()
strata="median_income"

In [18]:
def stratifiedshufflesplitter(df, bins, strata_col, test_size):
    """
    Performs stratified shuffle split based on income bins of median income value
    """
    df = df.copy()
    strata_cat = "__strata__"
    df[strata_cat] = pd.qcut(df[strata_col], q=bins, labels=False,    duplicates="drop")

    split = StratifiedShuffleSplit(
        n_splits=1,
        test_size=test_size,
        random_state=24
    )

    for train_idx, test_idx in split.split(df, df[strata_cat]):
        train = df.loc[train_idx].drop(strata_cat, axis=1)
        test = df.loc[test_idx].drop(strata_cat, axis=1)

    return train, test

In [ ]:
train,test= stratifiedshufflesplitter(df,10,'year',0.2)

      year  month  day   price
1919  2020      6   20   797.5
1783  2020     11    5  1037.5
1771  2020     11   18  1054.5
14    2025     12   26  3914.0
429   2024      8   23  1556.0
...    ...    ...  ...     ...
1382  2021     12   20  1067.5
246   2025      3   26  1706.0
426   2024      8   27  1586.0
1239  2022      5   13  1071.5
490   2024      6   13  1552.0

[491 rows x 4 columns]